.siginPrLogo {
    /* position: absolute; */
    top: 10px;
    width: 56px;
    height: 56px;
    margin: 10px 0px;
}

@media (min-width: 700px) {
    .siginPrLogo {
    /* margin-bottom: 0px; */
    /* top: 0px; */
    }
}