.alco-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    z-index: 5000;
    background-color: #0C161780;
    position: absolute;
    padding: 34px;
}

.alco-result-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 500px;
    padding: 24px;
    gap: 36px;
    border-radius: 16px;
    text-align: left;
}
.alco-result-edit {
    height: 24px;
    width: 24px;
}

.result-span {
    color: #EF4444;
}
.alco-continue-btn {
    align-self: flex-end;
    width: 50%;
    height: 51px;
    border-radius: 8px;
    color: #4E555D;
    border: none;
    padding: 16px;
    font-size: 16px;
    border: 1px solid  #AAB5C2;
    background-color: whitesmoke; /* White background */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.alco-continue-btn:not(:disabled):hover {
    background-color: #F0F4F8; /* Light gray/blue background on hover */
    color: #2C3E50; /* Darker text for contrast */
    border-color: #8392A5; /* Slightly darker border on hover */
    cursor: pointer;
}
.alco-continue-btn2 {
    align-self: flex-end;
    width: 50%;
    height: 51px;
    border-radius: 8px;
    color: whitesmoke;
    border: none;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #AAB5C2;
    background-color: #009cf9;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.alco-continue-btn2:not(:disabled):hover {
    background-color: #007acc; /* Slightly darker blue */
    color: whitesmoke; /* White text for contrast */
    border-color: #006bb3; /* Darker border on hover */
    cursor: pointer;
}

.alco-text-title{
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    color: #0C1617;
    line-height: 40px;
}
@media screen and (max-width: 767px) {
  .alco-result-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 300px;
    padding: 24px;
    gap: 36px;
    border-radius: 16px;
    text-align: left;
}
}